flows.json
[{"id":"af5929326bf49b21","type":"change","z":"ac0fc638.e5ad3","name":"setpoint","rules":[{"t":"move","p":"payload","pt":"msg","to":"setpoint","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1840,"wires":[["89fb537574f44d4f"]]},{"id":"d4236b007b506ceb","type":"api-current-state","z":"ac0fc638.e5ad3","name":"temp zadana zasilanie","server":"2995959e.dcecaa","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.temp_zadana_zasilanie","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":140,"y":1840,"wires":[["af5929326bf49b21"]]},{"id":"89fb537574f44d4f","type":"PID control","z":"ac0fc638.e5ad3","name":"PID","target":"49","kp":"1","ki":"0","kd":"0","x":470,"y":1820,"wires":[["f80d0b6acbd0939e"]]},{"id":"887f46f37fc88011","type":"inject","z":"ac0fc638.e5ad3","name":"co 30 s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":1660,"wires":[["cc840dd13b1cdf71"]]},{"id":"f4288f326d01f999","type":"api-current-state","z":"ac0fc638.e5ad3","name":"input wymiennik","server":"2995959e.dcecaa","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wymiennik","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":640,"y":1700,"wires":[["d4236b007b506ceb","fcc99c519949932a"],[]]},{"id":"7d5eb957bf15e01e","type":"api-current-state","z":"ac0fc638.e5ad3","name":"start off","server":"2995959e.dcecaa","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.start_ogrzewanie_pomocnik","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":420,"y":1700,"wires":[["f4288f326d01f999"],[]]},{"id":"fcc99c519949932a","type":"change","z":"ac0fc638.e5ad3","name":"CO zasilanie","rules":[{"t":"set","p":"payload","pt":"msg","to":"#:(file)::co_zasilanie","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":1780,"wires":[["89fb537574f44d4f"]]},{"id":"24a5d39a5c1ec677","type":"range","z":"ac0fc638.e5ad3","minin":"0","maxin":"22","minout":"0","maxout":"22000","action":"scale","round":true,"property":"payload","name":"skala","x":910,"y":1780,"wires":[["fe99376243bce028"]]},{"id":"f2d0770bf969073f","type":"range","z":"ac0fc638.e5ad3","minin":"0","maxin":"22","minout":"0","maxout":"22000","action":"scale","round":true,"property":"payload","name":"skala","x":910,"y":1840,"wires":[["a6fba97c03499844"]]},{"id":"f80d0b6acbd0939e","type":"switch","z":"ac0fc638.e5ad3","name":"-0.7 : +0.7","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0.7","vt":"num"},{"t":"lt","v":"-0.7","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":1820,"wires":[["24a5d39a5c1ec677"],["b999c1b7abcadc02"]]},{"id":"b999c1b7abcadc02","type":"function","z":"ac0fc638.e5ad3","name":"-+","func":"var liczba = msg.payload;\n\nif  (liczba < 0)\n    {\n        msg.payload = liczba*-1;\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":1840,"wires":[["f2d0770bf969073f"]]},{"id":"fe99376243bce028","type":"change","z":"ac0fc638.e5ad3","name":"delay","rules":[{"t":"move","p":"payload","pt":"msg","to":"delay","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":1780,"wires":[["1c3af2f9819bc767"]]},{"id":"a6fba97c03499844","type":"change","z":"ac0fc638.e5ad3","name":"delay","rules":[{"t":"move","p":"payload","pt":"msg","to":"delay","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":1840,"wires":[["827d313f70cf8fcc"]]},{"id":"17cc1c06c0a9be05","type":"delay","z":"ac0fc638.e5ad3","name":"","pauseType":"delayv","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1380,"y":1780,"wires":[["d7adc5375b147a78"]]},{"id":"d7adc5375b147a78","type":"api-call-service","z":"ac0fc638.e5ad3","name":"zawór wym otwórz off","server":"2995959e.dcecaa","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.zawor_wymiennik_otworz"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1560,"y":1780,"wires":[[]]},{"id":"76b5c5fa34afd7c9","type":"delay","z":"ac0fc638.e5ad3","name":"","pauseType":"delayv","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1380,"y":1840,"wires":[["9de68914f1235948"]]},{"id":"827d313f70cf8fcc","type":"api-call-service","z":"ac0fc638.e5ad3","name":"zawór wym zamknij on","server":"2995959e.dcecaa","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.zawor_wymiennik_zamknij"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":1840,"wires":[["76b5c5fa34afd7c9"]]},{"id":"9de68914f1235948","type":"api-call-service","z":"ac0fc638.e5ad3","name":"zawór wym zamknij off","server":"2995959e.dcecaa","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.zawor_wymiennik_zamknij"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1560,"y":1840,"wires":[[]]},{"id":"bcdcf11dcf68d140","type":"server-state-changed","z":"ac0fc638.e5ad3","name":"PID <>0.7","server":"2995959e.dcecaa","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.pid","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":1700,"wires":[["7d5eb957bf15e01e"],[]]},{"id":"cc840dd13b1cdf71","type":"api-get-history","z":"ac0fc638.e5ad3","name":"","server":"2995959e.dcecaa","version":0,"startdate":"","enddate":"","entityid":"input_boolean.pid","entityidtype":"is","useRelativeTime":true,"relativeTime":"25 seconds","flatten":false,"output_type":"array","output_location_type":"msg","output_location":"payload","x":250,"y":1660,"wires":[["7d5eb957bf15e01e"]]},{"id":"1c3af2f9819bc767","type":"api-call-service","z":"ac0fc638.e5ad3","name":"zawór wym otwórz on","server":"2995959e.dcecaa","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.zawor_wymiennik_otworz"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":1780,"wires":[["17cc1c06c0a9be05"]]},{"id":"2995959e.dcecaa","type":"server","name":"Home Assistant dom","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]